.header {
    height: 80px;
    width: 100%;
    background: #c0baba;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.71);
    box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.71);    
}

.headerContent img {
    width: 70px;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
}

.contentRight {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}